.about-art-section {
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  border: 1px solid rgba(255,255,255,0.4);
  transition: 0.3s ease;

  padding: 45px 30px;
  border-radius: 20px;
  margin-top: 35px;

}

.about-art-section:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.art-title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.art-title-line {
  width: 40px;
  height: 5px;
  background: #501e26;
  border-radius: 4px;
}

.art-title {
  color: #501e26;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.art-text-block {
  background: #faf7f0;
  padding: 25px 28px;
  border-radius: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.10);
  border-left: 4px solid #501e26;
  font-size: 1.15rem;
  line-height: 1.7;
  color: #3a1c1f;
}

.art-input {
  background: #faf7f0 !important;
  border: 1px solid #b5a98a !important;
  color: #3b1b1f !important;
  border-radius: 12px !important;
  padding: 10px !important;
}

.art-img-frame {
  background: #f3ecdd;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 6px 6px 0 #c5ba9c, 0 0 12px rgba(0,0,0,0.15);
  width: fit-content;
  margin: 0 auto;
}

.art-img {
  border-radius: 10px;
  max-width: 250px;
  border: 4px solid #f8f5ee;
  box-shadow:
    0 4px 8px rgba(0,0,0,0.12),
    inset 0 0 6px rgba(0,0,0,0.05);
}

.art-save-btn {
  margin-top: 25px;
  background: #501e26;
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}
.art-save-btn:hover {
  background: #6b2730;
}

@media (max-width: 768px) {
  .art-img {
    max-width: 200px;
  }
  .art-text-block {
    margin-top: 15px;
  }
}
