.contacts-page {
  padding: 40px 0 80px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.contacts-card {
  width: 100%;
  max-width: 750px;
  
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 20px;

  padding: 35px 40px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.18);

  margin-left: auto;
  margin-right: auto;
}

.contacts-subtitle {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  color: #501e26;
  margin-bottom: 20px;
}

.contacts-socials {
  display: flex;
  justify-content: center; 
  gap: 22px;
  flex-wrap: wrap;
}


.contacts-title-wrapper {
  text-align: center;
}

.contacts-title {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  color: #501e26;
}

.contacts-divider {
  width: 70px;
  height: 5px;
  background: #501e26;
  margin: 12px auto 0 auto;
  border-radius: 4px;
}

.social-icon {
  font-size: 2.2rem;
  color: #501e26 !important;
  transition: 0.3s ease;
}

.social-icon:hover {
  color: #7a2c35 !important;
  transform: scale(1.15);
}

.editable:hover {
  color: #a82323 !important;
}

