h1, h2, h3 {
  font-family: "Playfair Display", serif;
  color: #501e26;
}

p, .texto, label {
  font-family: "Inter", sans-serif;
}

.main-title-wrapper {
  text-align: center;
  margin: 40px 0 50px 0;
  position: relative;
}

.main-title {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #501e26;

  font-family: "Cormorant Garamond", serif; 
  text-shadow: 0 2px 4px rgba(0,0,0,0.15);

  background: rgba(255,255,255,0.25);
  padding: 14px 28px;
  display: inline-block;
  border-radius: 16px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255,255,255,0.4);
}

.main-title-divider {
  width: 80px;
  height: 5px;
  background: #501e26;
  border-radius: 4px;
  margin: 12px auto 0 auto;
}
