@import "@fontsource/roboto";

body * {
    font-family: "Roboto", sans-serif;
}

a {
    color: #ff9c2d;
}

.btn-primary {
    background-color: #ff9c2d !important;
    border-color: #f1952b !important;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #e48c29 !important;
    border-color: #d88526 !important;
}

.cat-img {
    width: 5vh;
    height: 4.5vh;
}

@media (max-width: 720px) {
    .cat-img {
        width: 4vh;
        height: 3.5vh;
    }   
}