@import "@fontsource/roboto";

body * {
  font-family: "Roboto", sans-serif;
}

html body {
  background: linear-gradient(180deg, #c9c5b8 0%, #a8a38f 50%, #7c775f 100%);
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px);
}

.button-ok {
  background: linear-gradient(135deg, #6b2730, #8a323c);
  color: white;
  padding: 10px 26px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.25s ease;
}

.button-ok:hover, .button-ok:active {
  background: linear-gradient(135deg, #6b2730, #8a323c);
  color: white !important;
}

.button-cancel {
  background: #816b24;
  color: white;
  padding: 10px 26px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.25s ease;
  margin-left: 15px;
  margin-right: 15px;
}

.button-cancel:hover, .button-cancel:active{
  background: #816b24;
  color: white !important;
}