.next-event-section {
  background: rgba(166, 154, 121, 0.55); 
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  padding: 40px 30px;
  border-radius: 20px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.next-event-section:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}


.event-header {
  text-align: center;
  margin-bottom: 35px;
}

.event-title {
  color: #501e26;
  font-weight: 700;
  margin-bottom: 10px;
}

.event-divider {
  width: 60px;
  height: 5px;
  background: #501e26;
  border-radius: 3px;
  margin: 0 auto;
}

.event-card {
  background: #faf7f0;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  border-left: 6px solid #501e26;
  transition: 0.3s ease;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
    text-align: center;
  }
}

.event-img-wrapper {
  background: #f0e8d8;
  padding: 8px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.event-img {
  width: 100%;
}

.event-info {
  max-width: 450px;
}

.event-name {
  color: #501e26;
  font-weight: 700;
  font-size: 1.45rem;
  margin-bottom: 8px;
}

.event-sub {
  color: #4b3739;
  margin-bottom: 22px;
  font-style: italic;
}

.event-button {
  background: linear-gradient(135deg, #6b2730, #8a323c);
  color: white;
  padding: 10px 26px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.25s ease;
}

.event-button:hover {
  background: linear-gradient(135deg, #6b2730, #8a323c);
}
